<aside class="page-nav flexable --column">
    <div class="nav-hd flexable ph-20">
        <img class="web-logo mr-4" src="images/rest.svg" alt="logo" />
        <h3 class="web-title">Restful Open Api</h3>
    </div>
    <div class="tip ph-20 hor-right">v 0.1</div>
    <ul class="menu flex-auto" style="overflow-y: auto">
        <li class="menu-item">概览</li>
        <li class="menu-item">概览</li>
        <li class="menu-item">入门</li>
        <li class="menu-item">安装</li>
        <li class="menu-item">使用</li>
        <li class="menu-item">文档</li>
    </ul>
</aside>
